<h3>{{@post.title}}</h3>

{{#if @showBody}}
  <span>{{@post.formattedPublishedAt}}</span>
  <pre style="white-space: pre-wrap;">{{@post.body}}</pre>
  <label>EDIT BLOG DESCRIPTION: </label>
  <Input @value={{this.newBody}} @enter={{fn this.updateBody @post}} />
  <br><br>
  <button type="button" {{on "click" (fn this.removePost @post)}}>
    Remove post
  </button>
{{/if}}
