{{page-title "Posts"}}
<h1>Welcome to my blog page!</h1>
<label>CREATE NEW BLOG ENTRY: </label>
<Input @value={{this.newTitle}} @enter={{this.addPost}} />
<ul>
  {{#each @model as |post|}}
    <li>
      <LinkTo @route="posts.post" @model={{post.id}}>
        <PostView @post={{post}} @showBody={{false}}/>
      </LinkTo>
    </li>
  {{/each}}
</ul>
{{outlet}}